recursive-include biobuilders *.py
recursive-include biobuilders/chems/database *.db
recursive-include biobuilders/data/ *.json
exclude biobuilders/chems/_build_database.py
exclude biobuilders/test.py