biosteam >= 2.51.4
pandas >= 2.2.2
thermosteam >= 0.51.5
pytz >= 2024.1
appdirs >= 1.4.4
openpyxl >= 3.1.5
matplotlib >= 3.10.3
seaborn >= 0.13.0
tqdm>=4.67.1
numpy_financial>=1.0.0
geopandas>=1.1.2
shapely>=2.1.2
networkx>=3.6.1